Task-01
Assume, you have been given a tuple.
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
Write one line of Python code to access and print the value 400.
===================================================================
Output: 400
===================================================================

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

print(a_tuple[3][3])

400

Task-02
Assume, you have been given a tuple. Write a Python program that creates a new
tuple excluding the first and last two elements of the given tuple and prints the new tuple.
Hint: You may use tuple slicing.
===================================================================
Sample Input 1:
(10, 20, 24, 25, 26, 35, 70)
Sample Output 1:
(24, 25, 26)
===================================================================
Sample Input 2:
(-10, 20, 30, 40)
Sample Output 2:
()
===================================================================
Sample Input 3:
(-10, 20, 25, 30, 40)
Sample Output 3:
(25,)

In [ ]:
##todo
a_tuple = [int(x) for x in input("Enter A Tupple: ")[1:-1].split(", ")]

print(tuple(a_tuple[2:-2]))

Task 3

Assume, you have been given a tuple.
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
Write a Python program that prints the size of the tuple and all its elements as shown below.
===================================================================
Output:
Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)
===================================================================

In [ ]:
##todo
book_info = ( 
("Best Mystery & Thriller","The Silent Patient",68,821), 
("Best Horror","The Institute",75,717), 
("Best History & Biography","The five",31,783 ), 
("Best Fiction","The Testaments",98,291) 
)
print("Size of my tuple is:", len(book_info))
for i in book_info:
  print(i)

Size of my tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

Task 4

Assume, you have been given a tuple with details about books that won the Good Reads
Choice Awards.
book_info = (                                                            
("Best Mystery & Thriller","The Silent Patient",68821),                    
("Best Horror","The Institute",75717),                                    
("Best History & Biography","The five",31783 ),                              
("Best Fiction","The Testaments",98291)
)

                                                                          
Write a Python program that prints the award category, the book name, and its total votes
earned as shown below.
[Must use Tuple unpacking for printing and need to handle the quotation marks as a partof the output]
===================================================================
Output:
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes
===================================================================

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291) )
for element  in book_info:
   award, book_name, votes = element
   print(f"{book_name} won the '{award}'catagory with {votes}")

The Silent Patient won the 'Best Mystery & Thriller'catagory with 68821
The Institute won the 'Best Horror'catagory with 75717
The five won the 'Best History & Biography'catagory with 31783
The Testaments won the 'Best Fiction'catagory with 98291

Task 5

Write a python program that takes an input from the user and finds the number of times that the input is present in a given tuple.

===================================================================

Example 1:

Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)


Sample Input 1:
8

Sample Output 1:                                                                       8 appears 4 times in the tuple

===================================================================

Example 2:
Given tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

Sample Input 2:1

Sample Output 2:1 appears 0 times in the tuple

===================================================================

In [ ]:
sample=int(input("enter a number:"))
given_tuple = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
count = 0
for i in given_tuple:
    if i == sample:
       count+=1
    else:
       pass
print(sample ,"appers",count,"times in the tuple")

Task-6

Write a Python program to reverse a given tuple.
[You are not allowed to use tuple slicing]


================================================================




Note: Unlike lists, tuples are immutable. So, in order to reverse a tuple, we may need to convert it into a list first, then modify the list, and finally convert it back to a tuple.

===============================================================

Example 1:
Given tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')                         
Output:('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

==============================================================


Example 2:
Given tuple: (10, 20, 30, 40, 50, 60)

Output:
(60, 50, 40, 30, 20, 10)

In [ ]:
given_tuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
reverse_tuple = list(given_tuple)
reverse_tuple.reverse()
print(tuple(reverse_tuple))

Task-7

Suppose you are given two dictionaries.
Now create a new dictionary "marks", merging the two dictionaries, so that the original two
dictionaries remain unchanged.
Note: You can use dictionary functions.

================================================================

Given:
{'Harry':15, 'Draco':8, 'Nevil':19}
{'Ginie':18, 'Luna': 14}

Output:{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

================================================================

Given:
{'A':90, 'B': 0}
{'C':50}

Output:{'A': 90, 'B': 0, 'C': 50}

================================================================

In [ ]:
#todo
dect_1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dect_2 = {'Ginie':18, 'Luna': 14}
f_dect = {**dect_1,**dect_2}

print(f_dect)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

Task 8

Write a Python program that takes a dictionary as an input from the user and then prints the
average of all the values in the dictionary.
[You are not allowed to use len() and sum()]

================================================================


**Hint (1):** For taking dictionary input
Approach (1): For taking dictionary as an input from the user, you may take the whole dictionary
as a string using the input() function. Then you can use the split(), strip() functions and
conditions to get the keys and values from the string. Finally, you can make the dictionary using
the obtained data.

Approach (2): If the first approach seems too difficult you can create an empty dictionary and
then just run a simple loop. For each iteration ask the user for a key and a value using the
input() function and keep updating the dictionary with the key and value.

**Hint (2):** After you have a dictionary, you can use dictionary functions to get all the values from
it, run loop to calculate the sum and the total number of values in the dictionary in order to find
out the average.

================================================================

Sample Input 1:{'Jon': 100, 'Dan':200, 'Rob':300}

Sample Output 1:Average is 200.

================================================================

Sample Input 2:{'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}

Sample Output 2:Average is 110.

================================================================

In [ ]:
#todo
length = int(input("Enter the dictonary length:"))
dect_1 = {}
for i in range(length):
   key = input("Enter a key:")
   values = int(input("Enter the value:"))
   dect_1[key] = values
print(dect_1)

total = 0
count = 0

for x in dect_1.values():
   total+=x
   count+=1
avarage = total//count
print("Avarage is:",avarage)

Task- 09
Suppose there is a dictionary named exam_marks as given below.
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Write a Python program that takes an input from the user and creates a new dictionary with only
those elements from 'exam_marks' whose keys have values higher than the user input
(inclusive).

================================================================

Sample Input 1:170

Sample Output 1:{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

================================================================


Sample Input 2:190

Sample Output 2:{'Alden Cantrell': 200, 'Pierre Cox': 190}

================================================================

In [ ]:
#todo
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165,
              'Pierre Cox': 190}
n_dect = {}

sample = int(input("enter a value:"))

for key in exam_marks:
   if exam_marks[key] >=sample:
       n_dect[key] = exam_marks[key]
   
print(n_dect)

enter a value:175
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

Task-10

Write a Python program that finds the largest value with its key from a given dictionary.

[You are not allowed to use the max() function for this task]

Note: You do not need to take the dictionaries as an input from the user but your code should
work for any given dictionary. Also, you need to handle the quotation marks as a part of the
output.
Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.

================================================================

Sample 1:

Given:
{'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

Output:The highest selling book genre is 'mystery' and the number of books sold are 15.

================================================================

Sample 2:

Given:
{'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}

Output:
The highest selling book genre is 'horror' and the number of books sold are 14.

===================================================================

In [ ]:
#todo
given = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max = given["sci fi"]
genere = ""
for key,value in given.items():
   if given[key] > max:
      max = value
      genere += key
   else:
      pass


print(f"The highest selling book genre is '{genere}'and the number of books sold are {max}")

The highest selling book genre is 'mystery'and the number of books sold are 15

Task-11

Write a Python program that takes a String as an input from the user and counts the frequency
of each character using a dictionary. For solving this problem, you may use each character as a
key and its frequency as values.

[You are not allowed to use the count() function]

Hint: You can create a new dictionary to store the frequencies. You may ignore case for
simplicity (i.e. may consider P and p to be the same).

================================================================
Sample Input:
"Python programming is fun"

Sample Output:{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

================================================================

In [1]:
#todo
str_input = input().replace('"', "").replace(" ", "").lower()
dict = {}

for char in str_input:
    if char in dict:
        dict[char] += 1
        continue
    dict[char] = 1

print(dict)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

Task-12
Suppose you are given the following dictionary where the values are lists.
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in a dictionaryâ€™s values and prints
it.
[Without using sum(), len(), count() functions]

Note: Make changes to the above dictionary and see if your code works properly for other
dictionaries as well.

===================================================================

Output:9

===================================================================

In [ ]:

dict = {"A": [1, 2, 3], "b": ["1", "2"], "c": [4, 5, 6, 7]}
count = 0

for key, list_value in dict.items():
    for item in list_value:
        count += 1
print(count)